# Use Item section
[useitem.subfolders]
# <destination_project_pattern> = <relative_path_where_reuse_shall_be_performed>
/~.* = pkg/basedef
#
# $Log: item.cfg  $
# Revision 1.2 2016/07/01 16:23:44CEST Rademacher, Jan (uidf3054) 
# Remove accidental residual changelog from different component.
# Revision 1.1 2016/07/01 16:07:48CEST Rademacher, Jan (uidf3054) 
# Initial revision
# Member added to project /id/_gen/sw/pkg/Basic/cdef/~_gen.sw.pkg.cdef_COMMON_LilEnd_Var1/vcs/project.pj
#
